// colors
$blanco : #fff;
$verde: #008f4a;
$amarillo: #e6de74;
$rojo: #c02830;
$azul: #4c5154;

// Theme
$primary : $verde;
$secondary: $blanco;
$accent : $amarillo;
$accent-1 : $amarillo;
$accent-2 : $rojo;
$accent-3 : $azul;
